<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<p> NOTE :For some Districts  data is not available </p>
<form method="post">
    <p >District Name(ex:Chennai first letter caps) </p>
    <input  name="u" required>
    <p> Date (DD-MM-YYYY) Only Current day data is available </p>
    <input  name="d" required>
    <input  type="submit">

</form>
</body>
</html>